{% extends "base.html" %}
{% load static %}

{% block title %}
Контакты
{% endblock %}

{% block body %}
<div class="text-center">
  <p class="col-lg-10 mx-auto fs-5 text-muted">
    <i class="text-body"></i> Город Санкт-Петербург улица Пушкина дом Колотушкина
  </p>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    <i class="col-lg-8"></i> 8-800-555-35-35
  </p>
    <p class="col-lg-10 mx-auto fs-5 text-muted">
    <i class="text-body-emphasis"></i> Город Москва улица академика Питонова
  </p>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    <i class="text-body-emphasis"></i> 8-800-800-800
  </p>
</div>
{% endblock %}